<h1>Display your Pirate here</h1>
<h3><p> Pirate Name: <%= @pirate.name %> </p></h3>
<h4><p> Pirate Weight: <%= @pirate.weight %> </p> </h4>
<h4><p> Pirate Height: <%= @pirate.height %> </p></h4>

<h2>Display your first ship here</h2>
<h3><p> First Ship's Name: <%= @ship_1.name %></p></h3>
<h4><p> First Ship's Type: <%= @ship_1.type %></p></h4>
<h4><p> First Ship's Booty: <%= @ship_1.booty %></p></h4>
<h2>Display your second ship here</h2>
<h3><p> Second Ship's Name: <%= @ship_2.name %></p></h3>
<h4><p> Second Ship's Type: <%= @ship_2.type %></p></h4>
<h4><p> Second Ship's Booty: <%= @ship_2.booty %></p></h4>