<h1>Display your Pirate here</h1>
<h4><p> Pirate Name:</h4> <%= @pirate.name %> </p>
<h4><p> Pirate Weight:</h4> <%= @pirate.weight %> </p> 
<h4><p> Pirate Height:</h4> <%= @pirate.height %> </p>

<h2>Display your first ship here</h2>
<h4><p> First Ship's Name:</h4> <%= @ship_1.name %></p>
<h4><p> First Ship's Type:</h4> <%= @ship_1.type %></p>
<h4><p> First Ship's Booty:</h4> <%= @ship_1.booty %></p>
<h2>Display your second ship here</h2>
<h4><p> Second Ship's Name:</h4> <%= @ship_2.name %></p>
<h4><p> Second Ship's Type:</h4> <%= @ship_2.type %></p>
<h4><p> Second Ship's Booty:</h4> <%= @ship_2.booty %></p>